:root {
    --primary: black;
    --secondary: white;
    --tertiary: rgb(85, 28, 240);
    --grey:  rgb(110, 110, 110);
  }
.submit-form {
    display:flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}
.submit-form p {
    flex:5;
    margin: 0 10px;
    font-size: 1.25rem;
    font-weight: bold;
}
.submit-form input {
    flex:1;
    width: 150px;
    margin:0 10px;
    border-radius: 10px;
    font-size: 1.25rem;
}
#save-initials {
    flex: 2;
    margin: 0 50px;
    border-radius: 15px;
    background-color: grey;
    color: white;
}
#high-score-input {
    margin-bottom: 100px;
}

#high-score-input h2 {
    text-align: center;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 50px;
}
#report-score {
    font-size: 1.5rem;
    text-align: center;
}

#high-score-container {
    display: none;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}
.high-score-title {
    font-size: 2.5rem;
    text-align: center;
    width:100%;
    flex: 1 50%;
    margin-bottom: 30px;
}
#high-score-list {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    flex:1;
    padding-inline-start: 0px;
    
}
.high-score-item {
    display: block;
    flex:1;
    margin: 5px 0;
    font-size: 1.7rem;
    list-style-type: none;
}
.game-btn {
    color: white;
    font-weight: bold;
    width:100px;
    height:50px;
    border-radius: 15px;
    background-color: var(--tertiary);
}
.button-container {
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#board-title {
    font-size: 2.0rem;
}